$grayscale-primary: #fff !default;
$grayscale-dark: #000 !default;
$grayscale-light: #fff !default;

$grayscale-body-font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: 'Poiret One',cursive;
